<div class="form">
  <div class="input-container">
    <i class="fa fa-id-card-o icon" aria-hidden="true"></i>
    <input #inputID class="primaryInput" type="number" placeholder="ID do objeto"><br/>
  </div>

  <div class="input-container">
    <button (click)='fetchStocks(inputID.value)' type="button">Deletar</button>
  </div>

  <div *ngIf="status == false" class="center" [innerHTML]="'<b>'+this.statusMessage"></div><br/>
  <div *ngIf="status == false" class="center" [innerHTML]="''+this.log"></div>
  <div *ngIf="status == false" class="center" [innerHTML]="''+this.log2"></div>

  <div *ngIf="status == true" class="secundaryInput">
    <input id="name" type="text" disabled="disabled" value="Nome: {{name}}"><br/>
    <input id="date" type="text" disabled="disabled" value="Data: {{date}}"><br/>
    <input id="price" type="text" disabled="disabled" value="Preço: {{price | currency:'BRL'}}"><br/>
    <input id="variation" type="text" disabled="disabled" value="Variação: {{variation}}"><br/>
  </div>
</div>

<div class="confirmButton center" *ngIf="status == true" >
  <div id="labelConfirm" class="center" [innerHTML]="'<b>'+this.statusConfirm"></div><br/>
  <button id="btConfirm" (click)='confirm(inputID.value)' type="button">Confirmar</button>
</div>
