<div class="formInfo">
  <div class="input-containerInfo">
    <i class="fa fa-id-card-o iconInfo" aria-hidden="true"></i>
    <input #inputID class="primaryInputInfo" type="number" placeholder="ID do objeto"><br/>
  </div>
  <div class="input-containerInfo">
    <button (click)='fetchStocks(inputID.value)' type="button">Consultar</button>
  </div>
  <div *ngIf="status == false" class="centerInfo" [innerHTML]="'<b>'+this.statusMessage"></div><br/>
  <div *ngIf="status == false" class="centerInfo" [innerHTML]="''+this.log"></div>
  <div *ngIf="status == false" class="centerInfo" [innerHTML]="''+this.log2"></div>
  <div *ngIf="status == true" class="secundaryInputInfo">
    <input id="name" type="text" disabled="disabled" value="Nome: {{name}}">
    <a></a>
    <input id="date" type="text" disabled="disabled" value="Data: {{date}}">
    <a></a>
    <input id="price" type="text" disabled="disabled" value="Preço: {{price | currency:'BRL'}}">
    <a></a>
    <input id="variation" type="text" disabled="disabled" value="Variação: {{variation}}"><br/>
    <a></a> <a></a>
  </div>
  <form [formGroup]="myForm" *ngIf="status == true" novalidate>
    <div class="formContainer">
      <div class="statusInput" [innerHTML]="this.statusName"></div>
      <div class="input-container">
        <input #nome id="inputName" type="text" placeholder="Nome" formControlName="username"><br/>
      </div>

      <div class="statusInput" [innerHTML]="this.statusPrice"></div>
      <div class="input-container">
        <input #preco id="inputPrice" type="number" placeholder="Preço" formControlName="price" >
      </div>

      <div class="statusInput" [innerHTML]="this.statusVari"></div>
      <div class="input-container">
        <input #variacao id="inputVariation" type="number" placeholder="Variação" formControlName="variation">
      </div>

      <div class="statusInput" [innerHTML]="this.statusDate"></div>
      <div class="input-container">
        <input #date id="inputDate" type="date" formControlName="date">
      </div>

      <div class="input-container center">
        <button (click)="submit(inputID.value, nome.value, preco.valueAsNumber, variacao.valueAsNumber, date.value)" type="button">Atualizar</button>
      </div>

      <div *ngIf="myForm.controls['username'].invalid && (myForm.controls['username'].dirty || myForm.controls['username'].touched)" class="alert">
        <div *ngIf="drawRequired(1)"></div>
      </div>
      <div *ngIf="myForm.controls['username'].valid" class="alert">
        <div *ngIf="undrawRequired(1)"></div>
      </div>
      <div *ngIf="myForm.controls['username'].hasError('minlength') && !myForm.controls['username'].hasError('required')" class="alert">
        <div *ngIf="drawCondition(1)"></div>
      </div>

      <div *ngIf="myForm.controls['price'].invalid && (myForm.controls['price'].dirty || myForm.controls['price'].touched)" class="alert">
        <div *ngIf="drawRequired(2)"></div>
      </div>
      <div *ngIf="myForm.controls['price'].valid" class="alert">
        <div *ngIf="undrawRequired(2)"></div>
      </div>
      <div *ngIf="myForm.controls['price'].hasError('pattern') && !myForm.controls['price'].hasError('required')" class="alert">
        <div *ngIf="drawCondition(2)"></div>
      </div>

      <div *ngIf="myForm.controls['variation'].invalid && (myForm.controls['variation'].dirty || myForm.controls['variation'].touched)" class="alert">
        <div *ngIf="drawRequired(3)"></div>
      </div>
      <div *ngIf="myForm.controls['variation'].valid" class="alert">
        <div *ngIf="undrawRequired(3)"></div>
      </div>
      <div *ngIf="myForm.controls['variation'].hasError('pattern') && !myForm.controls['variation'].hasError('required')" class="alert">
        <div *ngIf="drawCondition(3)"></div>
      </div>

      <div *ngIf="myForm.controls['date'].invalid && (myForm.controls['date'].dirty || myForm.controls['date'].touched)" class="alert">
        <div *ngIf="drawRequired(4)"></div>
      </div>
      <div *ngIf="myForm.controls['date'].valid" class="alert">
        <div *ngIf="undrawRequired(4)"></div>
      </div>

      <div class="center" id="idStatusInfo" [innerHTML]="'<b>'+this.statusInfo"></div>
    </div>
  </form>
</div>

