<div class="button" >
  <button (click)="voltar()" type="button">Voltar</button>
</div>
<div class="container">
  <img src="assets/Santander-Banner.png" alt="Banner Santander" width="80%" height="auto">
  <div class="form">
    <input #email type="text" placeholder="Username / Email">
    <input #pass type="password" placeholder="Password" id="inputPassword">
    <button (click)="submit(email.value, pass.value)" type="button">Submit</button>
  </div>
  <div [innerHTML]="'<b>'+this.message"></div><br/>
  <a>Login: admin | Senha: admin</a>
</div>
